server:
  port: 0
spring:
  application:
    name: user-service
  redis:
    host: localhost
    port: 6379
  sleuth:
    sampler:
      probability: 1.0

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/user_msa?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

greeting:
  message: Welcome to the Simple E-commerce.


# feignclient logging
logging:
  level:
    com.example.userservice.client: DEBUG


management:
  endpoints:
    web:
      exposure:
        include: health, httptrace, info, metrics, prometheus



token:
  expiration_time: 86400000
  secret: user_token

permitUrls:
  all:
  get:
  post: /join
  delete:
  put:
  patch: